.main-div {
    padding: 0 1.5rem;
}

textarea {
    resize: none;
    margin: 0.5rem;
    padding: 0.5rem;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 1rem;
}

button {
    cursor: pointer;
    border: none;
    background-color: #f8f9fa;
    margin-left: 0.25rem;
}

.bd0 {
    background-color: #FAC898;
}

.bd1 {
    background-color: #AEC6CF;
}

.bd2 {
    background-color: lightgreen;
}

.bd3 {
    background-color: #fbee95;
}

.ht-184 {
    height: 184px;
}

.ht-auto {
    height: auto;
}